<section>
  <p>All Articles</p>
  <div class="articles">
    <div class='article'>
      <% @presenter.articles.each do |article| %>
        <% if current_user %>
          <p><%= check_box_tag 'title', article %><%= article[:title] %></p>
        <% else %>
          <p><%= article[:title] %></p>
        <% end %>
        <p><%= link_to article[:source][:name], article[:url] %></p>
        <br>
      <% end %>
    </div>
  </div>

  <div class='favorites'></div>
</section>


<%= javascript_include_tag "application.js" %>
