<section>
  <p>All Articles</p>
  <div class="articles">
    <div class='article'>
      <% @presenter.articles.each do |article| %>
        <% if current_user %>
          <p><%= check_box_tag "title", (["#{article[0]}" + '-&-' + "#{article[1]}" + '-&-' + "#{article[2]}"])%><%= article[0] %></p>
        <% else %>
          <p><%= article[0] %></p>
        <% end %>
        <p><%= link_to article[1], article[2] %></p>
        <br>
      <% end %>
    </div>
  </div>

  <div class='favorites'>
    <button class="faves-button">Save Favorites</button>
  </div>
</section>


<%= javascript_include_tag "application.js" %>
<% if current_user %>
  <%= javascript_tag "var current_user_id = #{current_user.id}" %>
<% end %>
